.wrapper {
  position: relative;
}

header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 20px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1;
  opacity: 0.7;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
