header.profile::before {
  opacity: 1;
}

.user-info {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 1px #ccc;
}

.user-info div + div {
  margin-top: 20px;
}

.user-info div {
  padding: 10px;
}

.user-info span {
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.profile .name {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.profile .nick-name {
  font-size: 1.5rem;
}

.user-info .submit {
  padding: 8px 20px;
  font-weight: 400;
}

.user-info .submit + .submit {
  margin-left: 30px;
}

@media (max-width: 420px) {
  .user-info div + div {
    margin-top: 10px;
  }

  .user-info .button-container a:last-of-type {
    margin: 0 !important;
  }

  .user-info {
    padding-bottom: 0;
  }

  .user-info div {
    padding: 3px 0;
  }
}
