.company-item .company-name {
  position: absolute;
  top: -12px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  line-height: 30px;
  vertical-align: middle;
  box-shadow: 0 0 10px 1px #ccc;
}

.company-item span {
  font-weight: 700;
}