section {
  padding-top: 0;
}

.my-companies header::before {
  opacity: 1;
}

.companies-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 10px 1px #ccc;
}

.add-btn svg {
  font-size: 4rem;
}

.add-btn p {
  font-family: "Oswald", sans-serif;
  height: 100%;
  line-height: 40px;
}

.add-btn:hover {
  transform: scale(0.9);
}

@media (max-width: 670px) {
  .add-btn {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .add-btn {
    margin-bottom: 10px;
  }
}
